### Intellij IDE ###
.idea/
*.iml

### Python files ###
src/*.pyc

# normalize.py is retrieved from another repo
src/normalize.py

### R files ###
src/.RData
src/.Rhistory
src/last.dump.rda

### Heavy Data Files ###
src/pipeline_output
src/output_tmp
src/logs
*.old.*
ClinVarFullRelease*
variant_summary.txt.gz

### MacOS ###
**/.DS_Store
