### Intellij IDE ###
.idea/
*.iml

### Python files ###
src/*.pyc

# normalize.py is retrieved from another repo
src/normalize.py

### R files ###
src/.RData
src/.Rhistory

### Heavy Data Files ###
src/*.tsv
src/*.tsv.gz
src/*.txt
src/*.txt.gz
src/*.vcf
src/*.vcf.gz
src/*.tbi
src/*.xml.gz
src/logs

### MacOS ###
**/.DS_Store
